@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-green: #12372a;
    --sagedark: #76885B;
    --text-color: rgb(247, 246, 246);
    --light-bg-color: #adbc9f;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-green);
}

/* navigation*/
header {
    background-color: var(--light-bg-color);
    position: fixed;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    align-content: center;
}

header a {
    color: var(--bg-green);
    text-decoration: none;
}

.home {
    font-family: "Marcellus SC", serif;
    font-weight: bold;
    margin-left: 2rem;
}

.navright {
    font-size: small;
    float: right;
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.buttons {
    margin-left: 1rem;
    justify-content: center;


}

.buttons button {
    padding: 3px;

}

.buttons .login {
    background-color: var(--light-bg-color);
    border-radius: 5px;
    border: 1px solid black;
    color: var(--bg-green);
    padding: 3px 6px;
    font-size: 1em;
    cursor: pointer;
}

.buttons .login:hover {
    background-color: #a0c99b;
    transform: scale(2rem);
}

.buttons .register {
    background-image: linear-gradient(90deg, rgba(18, 55, 42, 1) 0%, rgba(27, 140, 79, 1) 100%);
    border-radius: 5px;
    border: 1px solid var(--bg-green);
    color: var(--text-color);
    padding: 3px 6px;
    font-size: 1em;
    cursor: pointer;
}

.logo img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: 1rem;
}

.logo {
    margin-top: 1rem;
    display: flex;
    align-content: center;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo span {
    top: 20px;
    padding-top: 0.7rem;
    font-weight: bold;
    padding-left: 18px;
    font-size: 16px;
    color: #12372a;
    text-transform: uppercase;
}

.container .sidebar {
    position: absolute;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    top: 2.8rem;
    bottom: 0;
    height: 85%;
    left: 0;
    background: var(--light-bg-color);
    width: 4rem;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    top: 1rem;
    position: relative;
    color: #12372a;
    font-size: 1rem;
    display: table;
    width: 330px;
    padding: 12px;
    padding-left: 1.5rem;
    align-content: center;
    text-decoration: none;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    left: 10px;
    margin-left: 15px;
}

.sidebar a:hover {
    color: var(--light-bg-color);
    background-color: var(--bg-green);
    border-radius: 1.5rem;

}

.sidebar:hover {
    width: 220px;
    transition: all 0.5s ease;
}

/* .sidebar ul li:hover{
    color: var(--light-bg-color);
    background-color:var(--bg-green);
} */
.logout {
    position: absolute;
    margin-bottom: 5rem;
}

p {
    background-color: aqua;
    margin-right: 2%;
    color: white;
}

footer {
    background-color: var(--light-bg-color);
    color: var(--bg-green);
    font-size: 0.6rem;
    text-align: center;
    padding: 10px;
    position: fixed;
    height: 1rem;
    left: 0;
    bottom: 0;
    width: 100%;
}

.settings-content{
    position: absolute;
    top: 3rem;
    width: 70%;
    height: 85%;
    margin-left: 18rem;
    float: over;
    overflow: hidden;
    color: var(--light-bg-color);
}
.settings-content h3{
    padding-top: 1rem;
    padding-left: 20rem;
    font-size: 2rem;
    font-family: "Marcellus SC", sans-serif;
}
.fillup {
    margin-top: 4%;
    margin-left: 18%;
}

input {
    width: 48%;
}

/* toogle */
.switch {
    position: relative;
    display: inline-block;
    width: 7%;
    height: 35px;
    margin-left: 23%;
}
.data {
    position: relative;
    display: inline-block;
    width: 7%;
    height: 35px;
    margin-left: 28%;
}
.notes {
    position: relative;
    display: inline-block;
    width: 7%;
    height: 35px;
    margin-left: 22%;
}
.loc {
    position: relative;
    display: inline-block;
    width: 7%;
    height: 35px;
    margin-left: 24%;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.settings-content input{
    padding: 5px;
    border: #12372a;
    border-radius: 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.btn{
    margin-left: 4%;
    width: 20%;
    background-color: #a0c99b;
}
.btn:hover{
    color: #12372a;
    background-color:#76885B;
}